---
http_interactions:
- request:
    method: get
    uri: https://swapi.co/api
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ''
  response:
    status:
      code: 301
      message: MOVED PERMANENTLY
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://swapi.co/api/
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 06 Jul 2018 01:25:41 GMT
- request:
    method: get
    uri: https://swapi.co/api/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Etag:
      - '"c1df070b0509ebefe72e85d721f40bf0"'
    body:
      encoding: UTF-8
      string: '{"people":"https://swapi.co/api/people/","planets":"https://swapi.co/api/planets/","films":"https://swapi.co/api/films/","species":"https://swapi.co/api/species/","vehicles":"https://swapi.co/api/vehicles/","starships":"https://swapi.co/api/starships/"}'
  recorded_at: Fri, 06 Jul 2018 01:25:41 GMT
recorded_with: VCR 4.0.0
