---
http_interactions:
- request:
    method: get
    uri: https://swapi.co/api/vehicles/6/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Etag:
      - '"b72b0f68ff00796a27dbd54d28a20256"'
    body:
      encoding: UTF-8
      string: '{"name":"T-16 skyhopper","model":"T-16 skyhopper","manufacturer":"Incom
        Corporation","cost_in_credits":"14500","length":"10.4","max_atmosphering_speed":"1200","crew":"1","passengers":"1","cargo_capacity":"50","consumables":"0","vehicle_class":"repulsorcraft","pilots":[],"films":["https://swapi.co/api/films/1/"],"created":"2014-12-10T16:01:52.434000Z","edited":"2014-12-22T18:21:15.552614Z","url":"https://swapi.co/api/vehicles/6/"}'
  recorded_at: Fri, 13 Jul 2018 23:32:48 GMT
recorded_with: VCR 4.0.0
